*{
    margin:0 auto;
    list-style: none;
    box-sizing: border-box;
}
body{
    width:100%;
    /*background: radial-gradient(circle, rgba(243,244,234,1) 0%, rgba(174,175,167,1) 100%);*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 160em;
    margin:0 auto;  
    min-width: 475px;
    position:absolute;
    z-index: 1;
    /*background-color: #f4f4f4;*/
    background-image: url('../images/cobre_oxidado.jpg');
    justify-content:center
}
header{
    font-size: 3.25em;
    text-align: center;
    color: #f4f4f4;
    padding: 0.5em ;
    background-color: #666666;
}
.encabezado{
    background-color:#d6675b;
    text-align: center;
    max-height: 150px;
    height: 100px;
    width: 100%;
}
.topnav{
    display: inline-block;
    background-color: #333;
    overflow: hidden;
    margin-top: 1.5em;
    border-radius: 3%;
    max-height: 1600px;
}
.topnav a {
    float: left;
    background-color: #b698a0;
    color: #b6675b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #666666;
    color: white;
}
main{
    width: 100%;
    font-family: 'Goldman-Regular-ttf';
    height: 750em;
    display: contents;
    margin: 0 auto;
}
#unidad2{
    width: 100%;
    background-color: #f4f4f4;
    padding-top: 2em;
    padding-bottom: 2em;
    max-height: 4000px;
    margin: 0 auto;
}
section h3{
    font-size: 30px;
    text-align: center;
}
#unidad2 h2,#unidad3 h2,#unidad4 h2,#unidad5 h2,#unidad6 h2,#unidad7 h2{
    padding-bottom: 1em;
    font-size: 40px;
    text-align: center;
}
#unidad2{
    background-color:#f4f4f4;
    width: 100%;
    position:relative;
    overflow: hidden;
}
#unidad2 ul {
    position: relative;
    z-index: 2;
}
#unidad2:before {
    content: ' ';
    display: inline-grid;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(../images/HTML5-CSS3_1.png);
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;
}
#section1,#section3,#section5,#section6{
    width: 85%;
    margin: 0 auto;
}
#section1 ul,#section2 ul,#section3 ul,#section4 ul,#section5 ul,#section6 ul{
    border:1px darkslategrey solid;
    box-shadow: 6px -3px 5px black;
    height: 12em;
    max-width: 12em;
    min-width: 10em;
    border-radius: 5%;
    margin: 10px;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    display:inline-grid;
    position:relative;
    z-index: 2;
}
#section1:nth-child(1),#section3:nth-child(1),#section4:nth-child(1),#section5:nth-child(1),#section6:nth-child(1){
    float:left;
}
#section1:nth-child(n+12),#section3:nth-child(11),#section4:nth-child(11),#section5:nth-child(11),#section6:nth-child(11){
    float:right;
}
#section1 li,#section2 li,#section3 li,#section4 li,#section5 li,#section6 li{
    padding:0.65em;
}
#section1 li p,#section2 li p,#section3 li p,#section4 li p,#section5 li p,#section6 li p{
    color: black;
}
#section1 li a,#section2 li a,#section3 li a,#section4 li a,#section5 li a,#section6 li a{
    color: #b6675b;
    font-weight: 900;
}
#index01:hover{
    background-color: #666666;
    background-image:url(../images/html01.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index02:hover{
    background-color: #666666;
    background-image:url(../images/html02.png);

    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index03:hover{
    background-color: #666666;
    background-image:url(../images/html03.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index04:hover{
    background-color: #666666;
    background-image:url(../images/html04.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index05:hover{
    background-color: #666666;
    background-image:url(../images/html05.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index06:hover{
    background-color: #666666;
    background-image:url(../images/html06.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index07:hover{
    background-color: #666666;
    background-image:url(../images/html07.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index08:hover{
    background-color: #666666;
    background-image:url(../images/html08.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index09:hover{
    background-color: #666666;
    background-image:url(../images/html09.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index10:hover{
    background-color: #666666;
    background-image:url(../images/html10.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index11:hover{
    background-color: #666666;
    background-image:url(../images/html11.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index12:hover{
    background-color: #666666;
    background-image:url(../images/html12.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#unidad3{
    padding-top: 2em;
    padding-bottom: 1em;
    width:98%;
    margin:0 auto;
    max-height: 50em;
    display: inline-grid;
    position:relative;
    justify-content:center
}
#unidad4,#unidad6,#unidad7{
    padding-top: 2em;
    padding-bottom: 2em;
    background-color:#f4f4f4;
    width: 100%;
    position:relative;
    overflow: hidden;
}
#unidad4 ul,#unidad6 ul,#unidad7 ul {
    position: relative;
    z-index: 2;
}
#unidad4:before,#unidad6:before,#unidad7:before {
    content: ' ';
    display: inline-grid;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(../images/xml_filetype_icon.png);
    background-repeat: no-repeat;
    background-size: 60% 50%;
    background-position: center center;
}
#section2:nth-child(1){
    float:left;
}
#section2:nth-child(n+5){
    float:right;
}
#section2 ul{
    padding:3.5em;
    margin-left: 3em;
}
#section2 li p{
    color: black;
}
#section2 li a{
    color: #b6675b;
    font-weight: 900;
}
#section3 ul,#section4 ul,#section5 ul,#section6 ul{
    height: 16em;
    max-height: 16em;
}
#unidad5{
    padding-top: 2em;
    padding-bottom: 3em;
    width:98%;
    margin:0 auto;
    max-height: 90em;
    display: inline-grid;
    position:relative;
    justify-content:center
}
#section2 ul:nth-child(odd),#section4 ul:nth-child(odd),#section6:nth-child(odd){
    background-color: #ddd;
}
/*
article{
    width: 95%;
    margin: 0 auto;
    position:relative;
    z-index: 2;
}
article:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}   
article{
    position: relative;
    background-color:#f4f4f4;
    overflow: hidden;
    margin:0 auto;
    width: 95%;
}*/
#rssbutton{
    width: 50px;
}
.github{
    padding-bottom: 10px;
    padding-left: 6em;
}
.github:before{
    font-family: logo_github_icon;
    content:'\f09b';
    background-color:#66ffff;
    color:white;
    font-size: 3em;
    border-radius: 25px;
    background-position: bottom;
}
.iconogit{
    background-image: url(../fonts/fontawesome/webfonts/logo_github_icon_143196.ico);
    background-repeat: no-repeat;
    height: 6em;
    position:static;
    bottom:90px;
}.iconogit a{
    position: inherit;
}
footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #84a578;
    height: 2em;
    z-index: 2;
}
footer address{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.25em;
}
#enlace2{
    color:red;
    background-color: black;
}
.enlace2{
    height: 30px;
    position: fixed;
    bottom: 3em;
    text-align: center;
    justify-content:center;
    margin-left: 6em;
}