*{
    margin:0 auto;
    list-style: none;
    box-sizing: border-box;
}
body{
    width:100%;
    /*background: radial-gradient(circle, rgba(243,244,234,1) 0%, rgba(174,175,167,1) 100%);*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 160em;
    margin:0 auto;  
    min-width: 475px;
    position:absolute;
    z-index: 1;
    background-color: #f4f4f4;
    background-image: url('../images/cobre_oxidado.jpg');
    justify-content:center
}
#tituloPrincipal{
    font-size: 3.25em;
    text-align: center;
    color: #f4f4f4;
    padding: 0.5em ;
    background-color: #666666;
    text-decoration: underline #84a578 solid;
    text-shadow: -16px 2px 16px  #84a578;
    text-underline-offset: 20%;
}
/*Desde aquí hasta @keyframes son reglas de estilos para mostrar
imágines animadas*/
.slider{
    width: 100%;
    position: absolute;
    top: 6em;
    height: 30em;
    max-height: 30em;
    left: 0;
    background-position: center center;
    z-index: -1;
    background-image:url(../images/html01.png);
    clear: both;
}
.slider li{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    animation:slider 40s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -moz-animation: slider 40s alternate infinite;
    -ms-animation:slider 40s alternate infinite;
    -o-animation:slider 40s alternate infinite;
    -webkit-animation: slider 40s alternate infinite;
}
.slider .image1{
    background-image:url(../images/html01.png);
    animation-delay: 40s;
}
.slider .image2{
    background-image:url(../images/html02.png);
    animation-delay: 35s;
}
.slider .image3{
    background-image:url(../images/html03.png);
    animation-delay: 30s;
}
.slider .image4{
    background-image:url(../images/html04.png);
    animation-delay: 25s;
}
.slider .image5{
    background-image:url(../images/html05.png);
    animation-delay: 20s;
}
.slider .image6{
    background-image:url(../images/html06.png);
    animation-delay: 15s;
}
.slider .image7{
    background-image:url(../images/html07.png);
    animation-delay: 10s;
}
.slider .image8{
    background-image:url(../images/html08.png);
    animation-delay: 5s;
}
@keyframes slider{
    0%{opacity:0;animation-timing-function:ease-in;}
    10%{opacity:1;animation-timing-function:ease-out;}
    25%{opacity:1;transform:scale(1);}
    50%{opacity:1;transform:scale(2);}
    100%{opacity:0;}
}
/*barra de navegación índice*/
.navbar {
    overflow: hidden;
    font-family: Arial;
    width: 100%;
}
/* enlaces en la barra de navegación */
.navbar a {
    float: left;
    font-size: 1em;
    color: #003333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.desplegable {
    float: left;
    overflow: hidden;
    min-height: 18em;
}
.desplegable .botonDesplegable {
    font-size: 6em;
    border: none;
    outline: none;
    color: white;
    background-color: #003333;
    font: inherit;
    margin: 0;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #49ff18, 0 0 50px #49ff18, 0 0 60px #49ff18, 0 0 70px #49ff18;
    }
    to {
        text-shadow: 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF, 0 0 50px #49ff18, 0 0 60px #49ff18, 0 0 70px #49ff18, 0 0 80px #49ff18;
    }
}
.navbar a:hover, .desplegable:hover .botonDesplegable:hover{
    background-color: red;
}
.iconoDesplegable:before {
    content: "\f0d7";
    display: inline-block;
    font: normal normal normal 2em FontAwesome;
    margin-left: 0.5em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Contenido desplegable oculto por defecto */
.contenidoDesplegable {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-height: 18em;
}
.tituloDesplegable{font-size: 1.5em}
.contenidoDesplegable .tituloDesplegable {
    background: red;
    padding: 16px;
    color: white;
}
.desplegable:hover .contenidoDesplegable {
    display: block;
}
.columna {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
    font-weight: bolder;
}
.columna h3{color:#999999}
.columna a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.columna a:hover {
    background-color: #ddd;
}
/* Limpia flotación de elementos despues de las columnas */
.columnas:after {
    content: "";
    display: table;
    clear: both;
}
.botonDesplegable{
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    font-size: 1em;
    height: 3em;
    padding: 0.5em;
}
strong{
    font-size: xx-large;
}

.botones{
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top:85%;
    left: 20px;
    z-index: 99;
}
.botonInicio{
    display: inline-flex;
    float:right;
    margin-right: 20px;
    padding-bottom: 40px;
    z-index: 99;
    border-style: solid;
    border-width: 3px;
    border-color: #606898;
    outline: none;
    width: 6em;
    height: 3em;
    background-color: transparent;
    color: #606898;
    cursor: pointer;
    border-radius: 10px;
    font-size:1.2em;
    background-color: salmon;
    text-align: center;
}
main{
    width: 100%;
    font-family: 'Goldman-Regular-ttf';
    height: 750em;
    display: contents;
    margin: 0 auto;
}
.info{
    width: 10%;
    height: 5%;
    background-color: #003333;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5%;
    margin-left: 1em;
    padding: 0.5em;
}
.info a{
    width: 95%;
    color: #b6675b;
    text-decoration:double underline #EC7063;
    text-underline-offset: 20%;   
}
section h3{
    font-size: 30px;
    text-align: center;
}
#unidad2 h2,#unidad3 h2,#unidad4 h2,#unidad5 h2,#unidad6 h2,#unidad7 h2{
    padding-bottom: 1em;
    font-size: 40px;
    text-align: center;
}
#unidad2 ul {
    position: relative;
    z-index: 2;
}
#unidad2:before {
    content: ' ';
    display: inline-flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(../images/HTML5-CSS3_1.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}
section{
    width: 85%;
    margin: 0 auto;
}
#section1 ul,#section2 ul,#section3 ul,#section4 ul,#section5 ul,#section6 ul,#section7 ul{
    border:1px darkslategrey solid;
    box-shadow: 2px 2px 2px black;
    height: 12em;
    max-width: 12em;
    min-width: 10em;
    border-radius: 5%;
    margin: 10px;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    display:inline-grid;
    position:relative;
    z-index: 2;
}
section li{
    padding:0.65em;
}
section ul p{
    background-color: #006868;
    color: whitesmoke;
    border-radius: 15%;
}
section ul a{
    background-color: #00b68b;
    border-radius: 5%;
}
#section1 ul:hover,#section2 ul:hover,#section3 ul:hover,#section4 ul:hover,
#section5 ul:hover,#section6 ul:hover,#section7 ul:hover{
    box-shadow: 6px 6px 6px 6px black;
}
#section1:nth-child(1),#section3:nth-child(1),#section4:nth-child(1),#section5:nth-child(1),#section6:nth-child(1),#section7:nth-child(1){
    float:left;
}
#section1:nth-child(n+12),#section3:nth-child(11),#section4:nth-child(11),#section5:nth-child(11),#section6:nth-child(11),#section7:nth-child(11){
    float:right;
}
#section1 li a,#section2 li a,#section3 li a,#section4 li a,#section5 li a,#section6 li a,#section7 li a{
    color: #b6675b;
    font-weight: 900;
}
#section1 ul:hover{
    background-color: #666666;
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index01:hover{background-image:url(../images/html01.png);}
#index02:hover{background-image:url(../images/html02.png);}
#index03:hover{background-image:url(../images/html03.png);}
#index04:hover{background-image:url(../images/html04.png);}
#index05:hover{background-image:url(../images/html05.png);}
#index06:hover{background-image:url(../images/html06.png);}
#index07:hover{background-image:url(../images/html07.png);}
#index08:hover{background-image:url(../images/html08.png);}
#index09:hover{background-image:url(../images/html09.png);}
#index10:hover{background-image:url(../images/html10.png);}
#index11:hover{background-image:url(../images/html11.png);}
#index12:hover{background-image:url(../images/html12.png);}
#unidad2,#unidad4,#unidad6,#unidad8{
    padding-top: 2em;
    padding-bottom: 2em;
    background-color:#f4f4f4;
    width: 100%;
    position:relative;
    overflow: hidden;
    justify-content:center;
    margin: 0 auto;
    display: inline-block;
}
#unidad4 ul,#unidad6 ul,#unidad7 ul {
    position: relative;
    z-index: 2;
}
#unidad4{
    width: 100%;
    height: 100%;
    background-size: auto;
    background-image: url(../images/xml1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
#section2:nth-child(1){float:left;}
#section2:nth-child(n+5){float:right;}
section3 ul,#section4 ul,#section5 ul,#section6 ul,#section7 ul{
    height: 16em;
    max-height: 16em;
}
#unidad3,#unidad5,#unidad7{
    padding-top: 2em;
    padding-bottom: 3em;
    width:100%;
    margin:0 auto;
    max-height: 260em;
    display: inline-block;
    position:relative;
    justify-content:center;
}
#unidad8{
    background-image: url(../images/json1.png);
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-attachment: fixed;
}
#unidad6:before{
    content: ' ';
    display: inline-grid;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/imagenXslt3.png);
    z-index: 1;
    opacity: 0.6;
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center center;
}
#section2 ul:nth-child(odd),#section3 ul:nth-child(odd),#section4 ul:nth-child(odd),#section5 ul:nth-child(odd),#section6 ul:nth-child(odd),#section7 ul:nth-child(odd){
    background-color: #ddd;
}

#section5 ul:nth-child(5),#section7 ul:nth-child(5),#section3 ul:nth-child(5),#section3 ul:nth-child(11){
    background-color: transparent;
}
#github{
    margin-right: 1.5em;
    margin-left: 1.5em;
    text-decoration: none;
}
#github:before{
    font-family: FontAwesome;
    content:'\f09b';
    background-color:#EC7063;
    font-size: 2em;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#rss{font-size: 15px;
     text-decoration: none;
}
#rss:before{
    font-family:FontAwesome;
    content:'\f09e';
    color:silver;
    font-size: 30px;
    border-radius: 15%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.enlaces:hover{color: goldenrod;}
footer{
    position:fixed;
    display: inline-flex;
    bottom: 0;
    width: 100%;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #84a578;
    max-height: 6em;
    z-index: 2;
    justify-content: center;
}
footer address{
    padding: 0.5em;
    font-size: 1.25em;
    color: #990033;
}
footer address a{
    color: #000099;
    padding-left: 0.5em;
}
footer a{
    margin-top: 0.25em;
}