*{
    margin:0 auto;
    list-style: none;
    box-sizing: border-box;
}
body{
    width:100%;
    /* background: radial-gradient(circle, rgba(243,244,234,1) 0%, rgba(174,175,167,1) 100%);*/
    background-color: #f4f4f4;
    margin:0 auto;  
    min-width: 475px;
}
header{
    font-size: 3.25em;
    text-align: center;
    color: #f4f4f4;
    padding: 0.5em ;
    background-color: #666666;
}
.encabezado{
    background-color:#d6675b;
    text-align: center;
    max-height: 150px;
    height: 100px;
    width: 100%;
}
.topnav{
    display: inline-block;
    background-color: #333;
    overflow: hidden;
    margin-top: 1.5em;
    border-radius: 3%;
    max-height: 1600px;
}
.topnav a {
    float: left;
    background-color: #b698a0;
    color: #b6675b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #666666;
    color: white;
}
main{
    width: 100%;
    font-family: 'Goldman-Regular-ttf';
    height: 750em;
    display: inline-block;
}
#unidad2{
    width: 98%;
    background-color: #f4f4f4;
    padding-top: 2em;
    padding-bottom: 2em;
    max-height: 4000px;
    margin: 0 auto;
}
section h3{
    font-size: 30px;
    text-align: center;
}
#unidad2 h2,#unidad3 h2,#unidad4 h2{
    padding-bottom: 1em;
    font-size: 40px;
    text-align: center;
}
#section1{
    background-color:#f4f4f4;
    /*background-image: url(../images/HTML5-CSS3_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;*/
    width: 100%;
    position:relative;
    overflow: hidden;
}
#section1 ul {
    position: relative;
    z-index: 2;
}
/* You could use :after - it doesn't really matter */
#section1:before {
    content: ' ';
    display: inline-grid;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(../images/HTML5-CSS3_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
#section1 ul,#section2 ul,#section3 ul{
    border:1px darkslategrey solid;
    box-shadow: 6px -3px 5px black;
    height: 12em;
    max-width: 12em;
    min-width: 10em;
    border-radius: 5%;
    margin: 10px;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    display:inline-grid;
    position:relative;
    z-index: 2;
}
#section1:nth-child(1),#section3:nth-child(1){
    float:left;
}
#section1:nth-child(n+12),#section3:nth-child(11){
    float:right;
}
#section1 li,#section3 li{
    padding:0.65em;
}
#section1 li p,#section3 li p{
    color: black;
}
#section1 li a,#section3 li a{
    color: #b6675b;
    font-weight: 900;
}
#index01:hover{
    background-color: #666666;
    background-image:url(../images/html01.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index02:hover{
    background-color: #666666;
    background-image:url(../images/html02.png);

    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index03:hover{
    background-color: #666666;
    background-image:url(../images/html03.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index04:hover{
    background-color: #666666;
    background-image:url(../images/html04.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index05:hover{
    background-color: #666666;
    background-image:url(../images/html05.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index06:hover{
    background-color: #666666;
    background-image:url(../images/html06.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index07:hover{
    background-color: #666666;
    background-image:url(../images/html07.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index08:hover{
    background-color: #666666;
    background-image:url(../images/html08.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index09:hover{
    background-color: #666666;
    background-image:url(../images/html09.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index10:hover{
    background-color: #666666;
    background-image:url(../images/html10.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index11:hover{
    background-color: #666666;
    background-image:url(../images/html11.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#index12:hover{
    background-color: #666666;
    background-image:url(../images/html12.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center center;
}
#unidad3{
    background-color:#f4f4f4;
    padding-top: 1em;
    padding-bottom: 1em;
    width:98%;
    margin:0 auto;
    background-image: url(../images/rss.jfif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 40em;
    display: inline-block;
    backface-visibility: visible;
}
#section2:nth-child(1){
    float:left;
}
#section2:nth-child(n+5){
    float:right;
}
#section2 ul{
    padding:3.5em;
    margin-left: 3em;
}
#section2 li p{
    color: black;
}
#section2 li a{
    color: #b6675b;
    font-weight: 900;
}
#section3 ul{
    height: 16em;
    max-height: 16em;
}
article{
    width: 95%;
    margin: 0 auto;
    position:relative;
    z-index: 2;
}
article:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
}   
article{
    position: relative;
    background-color:#f4f4f4;
    overflow: hidden;
    margin:0 auto;
    width: 95%;
}
#rssbutton{
    width: 50px;
}
footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: grey;
    height: 2em;
}
footer address{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.25em;
}