*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    background-color:lightgray;
    padding: 0.5% 5% 0.5% 0.5%;
    margin-bottom: 15px
}
h1,h2{
    width: 100%;
    color:#0CA102;
}
h2{
    color:lightgrey;
    padding: 0.5% 0.5%;
    background-color:#009900;
}
.numeroTicket{
    width: 100%;
    color:#009900;
    font-size: 20px;
}
.pNumeroTicket{
    display: inline-block;
    position: relative;
    margin-top: 1em;
    width: 100%;
    border:3px;
    border-style: solid;
    border-color: #ccff33;
    border-collapse: separate;
    padding-left: 8px;
    font-weight: bold;
}
.tabla{
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
}
.fecha{
    font-family: cursive;
    color:#009900;
    text-align: center;
    font-size: 0.75em;
}
.negrita{
    font-family: cursive;
}
.nombre,.precio{
    font-family: Helvetica;
    color: darkgray;
    /*padding-left : 4em*/
}
tr{
    border-bottom :1px;
    border-color: darkgray;
    border-style: solid;
    border-collapse: collapse;
}

.foot{
    padding-top: 10px;
    width: 100%;
    background-color:#009900;
    color:lightgray;
    width: 100%;
    border-collapse: collapse;
    text-align: right;
}
.pFoot{
    padding: 0.35em;
}