
/* 
    Created on : 8 dic. 2021, 9:43:08
    Author     : amor
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face{
    font-family: 'UFL';
    src: url('../fonts/Ubuntu/UFL.txt');
}
@font-face{
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
}
@font-face{
    font-family: 'Ubuntu-Italic';
    src: url('../fonts/Ubuntu/Ubuntu-Italic.ttf');
}
@font-face{
    font-family: 'Ubuntu-Light';
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
}
@font-face{
    font-family: 'Ubuntu-BoldItalic';
    src: url('../fonts/Ubuntu/Ubuntu-BoldItalic.ttf');
}
@font-face{
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
}