body{
    margin: 0 auto;
}
h1,table{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
table{
    border-collapse: collapse;
    width: 90%;
}
tr:nth-child(odd){
    background-color: lightblue;
}
th,td{
    border:1px #c6e7fd solid;
    width:120px;
    height: 30px;
}
.fecha{
    text-align: left;
}
.descripcion{
    text-align: left;
    vertical-align: top;
}
